:root {
    --cream-white: #FAF8F7;
    --red-hermes: #EB2629;
    --grey-hermes: #212121;
    --wine: #310000;
    --dark-red: #6B0000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 345px;
    width: 100vw;
    position: relative;
    background: radial-gradient(138.33% 159.07% at 0% 15.69%, #000000 22.3%, #5E0202 50%, #C70404 100%);
}

img {
    width: 100%;
}

.header__background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../assets/WhiteMapBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__first-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header__first-section span {
    display: inline-block;
    width: 34px;
    height: 24px;
    background-image: url("../assets/MenuWhite.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__second-section {
    display: flex;
    height: calc(90% - 73px);
    padding: 20px;
    align-items: center;
    text-align: start;
}

.header__second-section span {
    display: inline-block;
    width: 205px;
    font-size: 1.8rem;
    color: white;
}

.main__info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 500px;
    padding: 20px;
    background-color: var(--cream-white);
}

.main__info-section--features {
    text-align: center;
}

.main__info-section--features figure {
    width: 56px;
    height: 56.88px;
    margin: 0 auto 5px auto;
}

.main__info-section--features span {
    font-size: 1.3rem;
}

.main__about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 336px;
    padding-top: 20px;
    text-align: center;
    background-image: url("../assets/AboutCarouselImg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main__about-section--dots {
    display: inline-block;
    width: 49px;
    height: 7px;
    background-image: url("../assets/CarouselDots.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main__about-section--info {
    display: flex;
    height: 175px;
    align-items: flex-end;
    padding: 10px 15px 25px 15px;
    background: linear-gradient(0deg, rgba(33, 33, 33, 0.78) 23.44%, rgba(85, 85, 85, 0.597187) 46.35%, rgba(143, 143, 143, 0.394062) 63.54%, rgba(194, 194, 194, 0.215312) 83.33%, rgba(255, 255, 255, 0) 100%);
}

.main__about-section--info span {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
}

.main__features-section {
    width: 100vw;
    height: 653px;
    text-align: center;
    color: white;
    background-color: var(--dark-red);
}

.main__features-section h2 {
    display: inline-block;
    margin: 40px;
    font-size: 2.4rem;
}

.main__features-section--fee-card {
    position: relative;
    width: 241px;
    height: 395px;
    margin: 0 auto;
    font-size: 1.8rem;
    border-radius: 4px;
    background-color: var(--wine);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.top-feecard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 500;
    height: 50px;
    padding: 10px 0;
    align-items: center;
}

.top-feecard > div {
    display: flex;
}

.top-feecard > div > p {
    align-self: center;
}

.money{
    background-image: url("../assets/dollar-sign\ 2.svg");
    background-size: cover;
    display: inline-block;
    width: 24px;
    height: 24px;
}


.main__features-section--fee-card figure img {
    position: relative;
    width: 195.5px;
    height: 115px;
    border-radius: 6px;
    margin: 0;
}

.middle-feecard{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    margin: 10px 0;
    padding: 20px;
    font-weight: 500;
}

.time{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 27px;
    background-image: url("../assets/clock\ 1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.description {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 20px;
    text-align: left;
    padding: 0 20px;
    margin: 0 auto; 
    color: #808080;
}

.button {
    position: absolute;
    top: 370px;
    left: 50px;
    width: 138px;
    height: 43px;
    border-radius: 25px;
    border: var(--red-hermes) solid 2px;
    background-color: white;
    color: black;
}

.button span {
    display: inline-block;
    padding: 5px 0;
    font-size: 2.4rem;
    font-weight: 600;
}

.class-contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.class-contact-section > p{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.class-contact-section > form > label{
    font-size: 2rem;
    font-weight: normal;
    margin-right: 5px;
}

.class-contact-section > form > input{
    width: 100%;
    border: none;
    border-bottom: 2px solid red;
    border-radius: 4px;
    font-size: 2rem;
    font-weight: normal;
    margin-right: 5px;
}

footer {
  background-color: black;
  display: flex;
  color: white;
  width: 100%;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

footer > span{
  background-image: url("../assets/HERMESblanco\ 2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 117px;
  height: 69px;
  margin-bottom: 20px;
}

footer > p{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 15px;
}

footer > a{
    font-weight: medium;
    font-size: 1.3rem;
    font-style: italic;
    margin-top: 15px;
    color: white;
    text-decoration: none;
}

footer > a:hover {
    color: red;
    transition-duration: .5s;
}

footer > ul{
    display: flex;
    list-style: none;
    margin-top: 20px;
    justify-content: space-around;
    width: 100%;
}

footer > ul > li> a> svg:hover{
    filter: brightness(100);
    transition-duration: 2s;
}